<p id="notice"><%= notice %></p>

<h1>Wind Measures</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Measure</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wind_measures.each do |wind_measure| %>
      <tr>
        <td><%= wind_measure.time %></td>
        <td><%= wind_measure.measure %></td>
        <td><%= wind_measure.device %></td>
        <td><%= link_to 'Show', wind_measure %></td>
        <td><%= link_to 'Edit', edit_wind_measure_path(wind_measure) %></td>
        <td><%= link_to 'Destroy', wind_measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wind Measure', new_wind_measure_path %>
