<p id="notice"><%= notice %></p>

<h1>Temp Measures</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Measure</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_measures.each do |temp_measure| %>
      <tr>
        <td><%= temp_measure.time %></td>
        <td><%= temp_measure.measure %></td>
        <td><%= temp_measure.device %></td>
        <td><%= link_to 'Show', temp_measure %></td>
        <td><%= link_to 'Edit', edit_temp_measure_path(temp_measure) %></td>
        <td><%= link_to 'Destroy', temp_measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp Measure', new_temp_measure_path %>
