<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @humidity_measure.time %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @humidity_measure.measure %>
</p>

<p>
  <strong>Device:</strong>
  <%= @humidity_measure.device %>
</p>

<%= link_to 'Edit', edit_humidity_measure_path(@humidity_measure) %> |
<%= link_to 'Back', humidity_measures_path %>
